
body {
    width: 100vw;
    height: auto;
    background-color: #ecf0f1;
    font-family: "Roboto";
}

#parent {
    display: flex;
    width: 100%;
    height: auto;
}

h1 {
    justify-content: center;
    align-items: flex-start;
}


div {
    width: 200px;
    height: 200px;
}

.green {
    background-color: #2ecc71;
}

.blue {
    background-color: #3498db;
}

.yellow {
    background-color: #f1c40f;
}

.purple {
    background-color: #9b59b6;
}

.red {
    background-color: #e74c3c;
}

.navy {
    background-color: #2c3e50;
}